{% extends "base.html" %}

{% block content %}

<div class="row d-flex flex-wrap justify-content-center px-4 pt-4">

  <div class="col-2 p-4">

  {% for cat in category  %}
  <div class="form-check">
    <input class="form-check-input" type="radio" name="catagory" id="{{cat.id}}">
    <label class="form-check-label" for="{{cat.id}}">
    <a href="{% url 'catagory_slug_post' cat.slug %}"> {{cat.name}}</a>
    </label>
  </div>

  {% endfor %}
  

  </div>

    {% for post in data %}
    
    <div class="col-sm-3 col-md-6">
        <div class="card mx-2">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text"> {{post.content}}</p>
            <p class="card-text"> Author: <b>{{post.author.first_name}}</b></p>
            <p class="card-text"> Catagory: 
                <p  >{% for cat in post.category.all %}
                    
                    <p class=" btn btn-primary btn-sm " disabled >  {{cat}} <b></b></p>
                    {% endfor %}
                </p>
            </p>
        
          </div>
        </div>
      </div>

    {% endfor %}
 

 
  </div>
 
{% endblock content %}