{% extends "base.html" %}
{% load crispy_forms_tags %}
 {% block content %}
 <div>
    <a class="btn btn-primary" href="{% url 'edit_profile_page' %}">
      Edit Your Profile</a>


      
<div class="row d-flex flex-wrap justify-content-center px-4 pt-4">

  {% for post in data %}
  
  <div class="col-sm-3 col-md-6">
      <div class="card mx-2">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text"> {{post.content}}</p>
          <p class="card-text"> Author: <b>{{post.author.first_name}}</b></p>
          <p class="card-text"> Catagory: 
              <p  >{% for cat in post.category.all %}
                  
                  <p class=" btn btn-primary btn-sm " disabled >  {{cat}} <b></b></p>
                  {% endfor %}
              </p>
          </p>
       <a href="{% url 'edit_page' post.id %} " class="btn btn-warning">Edit</a>
       <a href=" {% url 'delete_page' post.id %}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>

  {% endfor %}



</div>

  </div>
 {% endblock  %}
